@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";


// Import a Google Font
@import url("https://use.typekit.net/yiw5nbu.css");

// Set your brand colors
$crimson: #6E2727;
$red-brown: #A99EA1;
$navy-blue: #132B39; 
$light-grey: #A6ADB4; 
$dark-grey: #707070; 
$off-white: #EBEDED; 

// Update Bulma's global variables
$family-sans-serif: trade-gothic-next, sans-serif;
$title-family: bebas-kai, sans-serif; 
$widescreen-enabled: false;
$fullhd-enabled: false;



// Update some of Bulma's component variables
$body-background-color: $grey-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-background-color: transparent; 
$navbar-item-img-max-height: 1rem;
$navbar-burger-color: $crimson; 
$navbar-item-active-color: $crimson;
$navbar-item-hover-color: $crimson; 
$navbar-item-color: $navy-blue; 
$navbar-item-hover-background-color: $dark-grey;
$section-padding: 1rem; 
$footer-background-color: $light-grey;
$navbar-dropdown-item-hover-color: $crimson;
$input-background-color: white; 

// Custom shit
    .container {
        margin: 0 auto;
        height: auto;
    }
    
    #tablet {
        margin: auto 0;
        background-color: $light-grey;
        img {
            height: 20em;
            margin: 0 auto;
        }
        .menu-list {
            margin: 0 auto;
            width: fit-content;
        a {
        color: $navy-blue;
        background-color: $off-white;
        border: 1px solid $grey-lighter; 
        margin: 0;
        }
        .navbar-item {
            margin: 0;
            padding: 0.5em;
        }
        .navbar-burger {
            padding: 1em;
            width: auto;
            height: auto;
        }
      }
    }
    

   #mobile {
    padding-top: 0.5em;
    margin: 0;
    background-color: $light-grey;
    img {
        height: 20em;
        margin: 0 auto;
    }
    .navbar-burger {
        margin: 0 auto;
    }
}
   #desktop {
    padding-top: 0.5em;
    margin: 0 auto;
    background-color: $light-grey;
    border-radius: 1em;
    border: 1px solid $grey-light;
    width: 100%;
    padding-right: 1em; 
    img {
        height: 10em;
        margin: 0 auto; 
    }
    .menu-list {
        margin: 0 auto;
        width: fit-content;
        a {
            margin: 0;
            color: $navy-blue;
        }
    }
    .navbar-dropdown a {
        font-size: 160%; 
    }
    }

    .input {
        margin-bottom: 1em;
    }

.footer {
    background-color: $light-grey;
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    margin-top: 30em;
    padding: 1em; 
    img {
        width: 7em;
        height: auto;
    }
    .navbar-menu {
        border: none; 
    }
}

.hero {
    h1 {
        margin: 0 auto;
        color: $crimson;
    }
}



.panel {
    margin-top: 3em; 
    height: 30em; 
    background-color: $off-white;
    overflow-x: hidden;
    overflow-y: scroll;
    .panel-heading {
        background-color: #132B39;
        color: white;
        position: absolute;
        display: flex;
        width: 100%;
        padding-bottom: 0;
        #form-container {
            margin: auto 0;
            margin-left: -5.3em;  
            margin-top: 1em;
            background-color: $navy-blue;
            display: block;
            label {
                color: white; 
            }
            .input {
                margin-right: 1em; 
            }
            .select {
                margin-right: 1em;
            }
            .button {
                margin: 0 auto;
            }
        }
    }
    .panel-block {
        background-color: $off-white;
    }
}



#results {
    margin-top: 10.5em;
    a {
        text-transform: capitalize;
    }
}

// #results {
//     color: $off-white;
//     width: 15em;
//     height: 15em;
//     position: absolute;
//     border: $light-grey 1px solid;
//     right: 20%; 
//     top: 30%;
//     margin: 0;
//     padding: 2em;
//     padding-top: 1em;
// }



// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";